<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SourceFolder" value="D:\Files Monitoring\Source" />
		<add key="BaseFolder" value="D:\Files Monitoring" />
		<add key="DestinationFolder" value="D:\Files Monitoring\Destination" />
		<add key="LogFolder" value="D:\Files Monitoring\Logs" />
		<add key="LogFileName" value="Logs.txt" />
	</appSettings>
</configuration>